{% extends 'base.html' %}
{% block title %}Post Details{% endblock %}
{% block content %}
  <h1>Post Details</h1>
  <ul>
    {% for post in post_list %}
      <li>{{ post.title }} by {{ post.author }}</li>
      <p>{{ post.content }}</p>
    {% endfor %}
  </ul>
  <ul>
    {% for comment in comment_list %}
      <li>{{ comment.content }} by {{ post.author }}</li>
    {% endfor %}
  </ul>
  <form method="post">
    {% csrf_token %} {{ form }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}